<h1 class="mt-4">Welcome <%= name %></h1>

<div class="jumbotron">
  <h1><em>Coffee House</em></h1>
  <p>
    Coffee House is the place to rate and review your favourite coffees from your local Coffee Houses. Get started below by using the map to find your local Cafe and rate any individual coffee of your choice! 
    You'll be able to see your most recent review below or all the reviews you've created in your Profile tab.
  </p>

  <p><a href="/profile" class="btn btn-primary btn-lg" >Your Profile</a></p>

</div>

<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">MAP</div>
        <div class="panel-body">
          Map content
          <div id="googleMap" style="width:100%;height:100px;"></div>
          <script>
            function myMap() {
            var mapProp= {
              center:new google.maps.LatLng(51.508742,-0.120850),
              zoom:5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            }
          </script>
          <script src="#"></script>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">YOUR MOST RECENT REVIEW</div>
        <div class="panel-body">
          <section class="reviewtable">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="reviewheading">Your most recent coffee rating</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on your review of the points below; </p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
              <div class="side">
                <div>Overall</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5"></div>
                </div>
              </div>
              <div class="side right">
                <div>4</div>
              </div>
              <br>
              <br>
              <div class="side">
                <div>Coffee</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4"></div>
                </div>
              </div>
              <div class="side right">
               <div>4.5</div>
              </div>
              <br>
              <br>
              <div class="side">
                <div>Mood</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3"></div>
                </div>
              </div>
              <div class="side right">
                <div>4</div>
              </div>
              <br>
              <br>
              <div class="side">
                <div>Dairy-Free</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2"></div>
                </div>
              </div>
              <div class="side right">
                <div>2</div>
              </div>
              <br>
              <br>
              <div class="side">
                <div>Eco</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1"></div>
                </div>
              </div>
              <div class="side right">
                <div>1.5</div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<<<<<<< Updated upstream
<a href="/logout" class="btn btn-default" id="dashboard-logout">Logout</a>

=======
>>>>>>> Stashed changes

