<div class="jumbotron">
  <h1><em>Coffee House</em></h1>
  <p>Coffee House is the place to rate and review your favourite coffees from your local Coffee Houses. Just Login / Register to get started!</p>
  <p><a href="/register" class="btn btn-primary btn-lg" >Learn more</a></p>
</div>

<!-- 
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">MAP</div>
        <div class="panel-body">
         <p>Here's how to use Coffee House.
           <br>
           <br>
           <br>
           1. Register or Login.
           <br>
           2. Use the search bar to find your nearest Coffee Shop.
           3. Visit the Coffee Shop.
           <br>
           4. Rate and review your specific drink and the vibe from the Coffee Shop.
           <br>
           5. See all your reviews in one place so you can pick the best place for coffee.
           <br>
           6. See personal recommendations from Coffee House to find your next favourite spot!
         </p>
      </div>
    </div>
  </div>
</div>
    
    <div class="postcodeSubmit">
      <form method="POST" action="/">
        <input type="text" name="postCode" />
        <button class="submit">Submit</button>
      </form>
    
    </div>



