<div class="jumbotron">
  <div class="container">
  <div class="col-sm-6">
    <h1 class="home-page">Great coffee.<br>Rated by others.</h1>
    <p class="home-text">Stuck for your next caffeine fix? Discover local coffee houses that are rated by you and other trusted reviewers!</p>
    <a href="/register" class="btn btn-primary custom-width" >Discover local coffee now</a>
    <br>
    <br>
  </div>
  <div class="col-sm-6">
    <img class="img-responsive" src="../Images/cover-photo.png" alt="Coffee and rating examples">
  </div>
</div>
<div class="container">
  <h2 class="home-page-second">Getting started is super easy!</h2>
    <ol>
      <li id="home-page-list">Register (if you're a new user) or login <a href="login">here</a></li>
      <li id="home-page-list">Use the search bar to find your nearest coffee shop and check out its reviews and ratings.</li>
      <li id="home-page-list">Visit and enjoy your coffee!</li>
      <li id="home-page-list"><strong>Rate and review.</strong> We want to know everything about your visit to help others and share the love of coffee &#x2615;</li>
    </ol>
</div>
</div>
  
