<div class="jumbotron">
  <div class="container">
  <div class="col-sm-6">
    <h1 class="home-page">Great coffee.<br>Rated by others.</h1>
    <p class="home-text">Stuck for your next caffeine fix? Discover local coffee houses that are rated by you and other trusted reviewers!</p>
    <p><a href="/register" class="btn btn-primary btn-lg" >Discover local coffee now</a></p>
  </div>
  <div class="col-sm-6">
    <img src="../Images/cover-photo.png" alt="Image showing coffee and rating examples">
  </div>
</div>
<div class="container">
  <h2 class="home-page-second">Getting started is super easy!</h2>
  <ol>
    <li id="home-page-list">Register (if you're a new user) or login <a href="login">here</a></li>
    <li id="home-page-list">Use the search bar to find your nearest coffee shop and check out its reviews and ratings.</li>
    <li id="home-page-list">Visit and enjoy your coffee!</li>
    <li id="home-page-list"><strong>Rate and review.</strong> We want to know everything about your visit to help others and share the love of coffee &#x2615;</li>
  </ol>
  <!-- <br>
  5. See all the reviews in one place so you can pick the best place for coffee.
  <br>
  6. See personal recommendations from Coffee House to find your next favourite spot! -->
  </p>
</div>
</div>
  <!-- 
  <div class="container">
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">MAP</div>
          <div class="panel-body">
            Map content
            <div id="googleMap" style="width:100%;height:100px;"></div>
            <script>
              function myMap() {
              var mapProp= {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
              };
              var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
              }
            </script>
            <script src="#"></script>
        </div>
  <div class="col-sm-12 text-center">
    <div class="col-sm-6 center-block">
      
      <div class="postcodeSubmit">
        <form method="POST" action="/">
          <input type="text" name="postCode" />
          <button class="submit">Submit</button>
        </form>
      
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">SEARCH</div>
        <div class="panel-body">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->
  
<!--   
  
   <div class="postcodeSubmit">
      <form method="POST" action="/">
        <input type="text" name="postCode" required pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})"/>
        <button class="submit">Submit</button>
      </form>
    </div> -->

