<!-- Handles layout around all views -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link rel="icon" href="../Images/favicon.ico" type="image/gif" sizes="16x16">
        <!-- Font Awesome icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <!-- Stylesheets - Bootstrap + Secondary CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
        <title>CoffeeHouse App</title>
    </head>
    <body>  
      <% if(typeof name === 'undefined') { %>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CoffeeHouse.</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <% } else { %>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">CoffeeHouse.</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="home">Home</a></li>
                  <li><a href="profile">Profile</a></li>
                  <li><a href="logout">Logout</a></li>
              </ul>
          </div>
          </div>
      </nav>
      <% } %>
        <div class="container">
            <%- body %>
        </div>
        <!-- Bootstrap + jQuery script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"crossorigin="anonymous"></script>
        <script src="/review.js"></script>
    </body>
    <!-- Footer  -->
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted"><h5 class="copy">CoffeeHouse. &copy; 2021</h5></span>
            <div class="footer-wrapper text-center">
                <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4&feature=youtu.be"><img id="footer-icon" src="../Images/youtubeimage.jpg" alt="Youtube Logo" style="width:35px;height:35px;" ></a>
                <a href="https://twitter.com/?lang=en-gb"><img id="footer-icon" src="../Images/twitterlogo.jpg" alt="Twitter Logo" style="width:35px;height:35px;"></a>
                <a href="#"><img id="footer-icon" src="../Images/instagramimage.jpg" alt="Instagram Logo" style="width:35px;height:35px;"/></a>
            </div>
        </div>
    </footer>
</html>