<h1 class="mt-4" style="text-align: center;">Your Local Shops</h1>

<div class="container-fluid" id="shopsFluid">
  <% shops.forEach(function(shop) { %>
    
    <div class="col-sm-4 ">
      <div class="panel panel-default" id="shopPanel">
        <a href="/shops/<%= shop.id %>">
          <div class="panel-body" id="shopsBody">
            <img  src="<%= shop.imageURL %>" class="img-responsive img-rounded" id="shopImg">
          </div>
          <div class="panel-footer" id="shopFooter">
            <h3 class="shopTitle"><%= shop.name %></h3>
            <p><%= shop.address %></p>
          </div>
        </a>
      </div>
    </div>
    <% }) %>
</div>
<div class="container-fluid">
  <button class="btn btn-primary btn-lg" style="float: left;"><a href="/home" style="color: white;">Home</a></button>
  <% if (!totalShops) { %>
    <form method="POST" action="/shops/results-more" style="float: right;">
      <button class="btn btn-primary btn-lg">Load More</button>
    </form>
  <% } %>
</div>