/*NAV BAR*/
.navbar-default {
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
  font-weight: bolder;
  color: #434343;
}

.navbar-brand {
  padding: 35px;
}

.navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color:#434343;
}

.navbar-toggle {
  margin-top: 20px;
}

.alert {
  padding-right: -20px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0;
  margin-top: 8px; 
}


/* JUMBOTRON */
.jumbotron h1, .jumbotron .h1 {
  color: #434343;
  }
  
  .jumbotron p {
    padding: 10px 0px;
    color: #434343;
    font-weight: 300;
  }
  
  #home-page-list {
    padding: 10px 0px;
    font-size: 24px;
    color: #434343;
    font-weight: 300;
  }
  
  #sm-footer {
    justify-content: center;
    position: fixed; 
    bottom: 0; 
    background-color: #F18343;
    width: 100vw; 
    display: flex;
    font-size: 2rem; 
    font-family: 'Roboto Slab', sans-serif; 
    padding-bottom: 10px;
  }
  
  #sm-footer a {
   color: #fff;
   padding-left: 20px;
  }
  
  #sm-footer a:hover {
    filter: brightness(85%);
  }
  
  #instructions p {
    padding: 10px;
  }
  #instructions h3 {
  font-size: 26px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
  margin-bottom: -20px;
  }
  
  #instructions {
    margin-bottom: 10px;
  }
  
  #map {
    margin-bottom: 120px;
  }

  .text-muted {
    color: #f1f1f1;
  }
  
/*Profile style*/
.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profiletitle {
  color: grey;
  font-size: 18px;
}

#reviewbutton{
  padding: 20px;
  margin-top: 20px;
}

/*FOOTER*/
ul#footerlist {
  list-style-type: none;
  padding: 50px;
  display: inline-block;
  background: none;
  text-align: center;
  justify-content: center;
  width: 100%;
}

ul > li {
  padding: 20px;
}


.footer {
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #F18343;
}

#footer-icon {
  margin-top: -30px;
  margin-left: 30px;
}

#dashboard-logout {
  margin-top: 20px;
}



/* INTERACTIVE REVIEW- TO LOOK PRETTY SECTION*/
html, body {
  /* text-align: center;  */
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  /* height: 100%; */
  color: rgb(5, 5, 5);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
} 

h1 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
  /* font-size: 30px; */
  font-weight: bold;
  color: #434343;
}

h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
  /* font-size: 30px; */
  font-weight: bold;
  color: #434343;
}

/* label {
  width: 100px;display: inline-block; text-align: right; margin-right: 10px;
} */

input {
  /* width: 50px;  */
  text-align: center;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.values {
  margin-top: 20px;
}

.info {
  max-width: 500px; margin: 20px auto;
}


/* BUTTONS */
.btn-primary {
  background-color: #2ECC71;
  border-color: #2ECC71;
  font-weight: bold;
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #fff;
  filter: brightness(85%);
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #fff;
  filter: brightness(85%);
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #fff;
  filter: brightness(85%);
}

.btn:hover, .btn:focus, .btn.focus {
  filter: brightness(85%);
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #219150;
  border-color: #196c3b;
  color: #fff;
}

a {
  color: #F18343;
}

a:hover, a:focus {
  color: #804522;
}

.btn:hover, .btn:focus, .btn.focus {
  filter:brightness(80%);
}

.btn:active, .btn.active {
  border-radius: 30px;
}
.control-label {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 28px;
  color: #434343;
}

.input-group .form-control {
  border-radius: 30px;
}

#profile-buttons {
  margin-bottom: 100px;
}

#add-submit {
  margin-bottom: 100px;
}


/*The STATIC USER RATING*/
.reviewtable {
  box-sizing: border-box;
}

.reviewtable {
  font-family: Arial;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.reviewheading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.copy {
  width: 100%;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

/* The Individual bars within the static review */
.bar-5 {width: 60%; height: 18px; background-color: #272727;}
.bar-4 {width: 30%; height: 18px; background-color: #272727;}
.bar-3 {width: 10%; height: 18px; background-color: #272727;}
.bar-2 {width: 4%; height: 18px; background-color: #272727;}
.bar-1 {width: 15%; height: 18px; background-color: #272727;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

#preview .buttons .ok {
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  font-size: 20px;

}

input[type='radio'] {  
  width: 0.5em;
  height: 0.5em; 
}

#drink-options input[type='radio'] {  
  width: 1.5em;
  height: 1.5em; 
  margin-left: -50px;
}

#drink-options label {
  margin-left: 30px;
  font-size: 20px;
}

/* STAR RATINGS */
.rating-star span.star:before {
  color: #777777;
  content:"\f005";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
  color: #ffd100;
  content: "\f005";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.rating-star {
  direction: rtl;
  font-size: 40px;
  unicode-bidi: bidi-override;
  display: inline-block;
  margin-left: 20px;
}
.rating-star input {
  opacity: 0;
  position: relative;
  left: -30px;
  z-index: 2;
  cursor: pointer;
}
.rating-star span.star {
  display: inline-block;
  font-family: 'FontAwesome 5 Free'!important;
  font-weight: 900;
  position: relative;
  z-index: 1;
  content:"\f006";
}
.rating-star span {
  margin-left: -10px;
}
/* Shop display CSS */

#shopPanel {
  transition: 0.5s;
}
#shopPanel:hover {
  transform: scale(1.1);
}

#shopsBody {
  align-content: center;
  padding: 2rem;
}

#shopImg {
  position: relative;
  height: 40rem;
}

.shopTitle, .shopTitle:hover {
  text-decoration: none;
  color: #272727;
}

/* Shop info CSS */

#shopImage {
  width: 50%;
}
.googleMap {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}
.googleMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}