<h1>404 Not Found</h1>
<p>We're sorry, this resource is not found</p>
<img src="../../Images/error404.png" height="500" alt="">
<div class="container">
    <a href="/home" class="btn">Go to Home</a>
</div>